In [6]:
import numpy as np
arr=np.array([[-8,6,-1],
              [-7,np.nan,0],
              [-3,0,np.nan]])
print(arr)
arr1=np.any(arr)
print('any non-zero ele:',arr1)
arr2=np.isfinite(arr)
print('finite"\n',arr2)

[[-8.  6. -1.]
 [-7. nan  0.]
 [-3.  0. nan]]
any non-zero ele: True
finite"
 [[ True  True  True]
 [ True False  True]
 [ True  True False]]

In [14]:
import numpy as np
arr=np.array([[-8,6,-1],
              [-7,np.nan,0],
              [-3,0,np.nan]])
print(arr)
np.save('file.npy',arr)
np.load('file.npy')
mean=np.mean(arr>0)
print("mean of array:",mean)
ab=np.abs(arr)
print("absolute values:",ab)
a=np.where(np.isnan(ab),mean,ab)
print("array after replacing nan eith mean\n",a)
print("sum of diagnols is:",np.trace(a))
ar=np.where(a>5,1,0)
print("after descretezation",ar)

[[-8.  6. -1.]
 [-7. nan  0.]
 [-3.  0. nan]]
mean of array: 0.1111111111111111
absolute values: [[ 8.  6.  1.]
 [ 7. nan  0.]
 [ 3.  0. nan]]
array after replacing nan eith mean
 [[8.         6.         1.        ]
 [7.         0.11111111 0.        ]
 [3.         0.         0.11111111]]
sum of diagnols is: 8.222222222222221
after descretezation [[1 1 0]
 [1 0 0]
 [0 0 0]]

In [16]:
import pandas as pd
data = {'Product': ['A', 'B', 'A', 'B', 'A', 'C', 'B', 'C', 'A', 'C'],
        'Quantity': [10, 15, 5, 8, 12, 7, 9, 4, 6, 11],
        'Price': [100, 150, 200, 120, 90, 80, 130, 70, 110, 60]}
df=pd.DataFrame(data)
df

  Product  Quantity  Price
0       A        10    100
1       B        15    150
2       A         5    200
3       B         8    120
4       A        12     90
5       C         7     80
6       B         9    130
7       C         4     70
8       A         6    110
9       C        11     60

In [18]:
df['Product'].unique()

array(['A', 'B', 'C'], dtype=object)

In [23]:
df.groupby(['Product']).agg('sum')

         Quantity  Price
Product
A              33    500
B              32    400
C              22    210

In [25]:
df.groupby(['Product']).agg('mean')

          Quantity       Price
Product
A         8.250000  125.000000
B        10.666667  133.333333
C         7.333333   70.000000

In [26]:
df.groupby(['Product']).agg('min')

         Quantity  Price
Product
A               5     90
B               8    120
C               4     60

In [29]:
df.groupby(['Product']).agg('max')

         Quantity  Price
Product
A              12    200
B              15    150
C              11     80

In [2]:
import datetime

current_timestamp = int(time.time())
print("Current Unix timestamp:", current_timestamp)
date_time = datetime.datetime.fromtimestamp(1689534512)
print("Datetime from timestamp:", date_time)

Current Unix timestamp: 1689534624
Datetime from timestamp: 2023-07-17 00:38:32

In [ ]:
import numpy as np
def savefun(a):
    np.save('file.npy',a)
    prinnt('file saved')
def loadfun(a):
    ar=np.load('files.npy')
    print('file loaded')
def reshapefun(a):
    x=a.reshape(p,q,r)
    print(x)
def transposefun(a):
    b=np.transpose(a.reshape(pqr))